﻿* {
  font-family: 'Exo 2', sans-serif; }

html {
  background-color: #222222; }

body {
  padding-bottom: 0; }

label {
  font-weight: normal;
  display: block; }

footer {
  background-color: #222222;
  padding-left: 15px;
  padding-right: 15px; }

video {
  width: 100%; }

.input-group-addon {
  border: 1px solid #aaaaaa;
  border-left: 0; }

form input[type=text] {
  border: 0;
  border: 1px solid #aaaaaa;
  outline: 0;
  width: 100%;
  padding: 6px; }

form select {
  width: 100%; }

.btn {
  border-radius: 0; }

.bold {
  font-weight: 700; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 50%; }

.body-content {
  margin-top: 50px;
  margin-bottom: 70px; }

.footer {
  margin-top: 20px;
  color: #999999; }

.nav-tabs {
  margin-top: 40px; }

.tab-content {
  margin: 10px 0; }
  .tab-content h3 {
    margin-bottom: 20px; }
  .tab-content form input {
    max-width: 100%; }
  .tab-content form input:focus {
    border-style: dashed; }

input, button {
  outline: none;
  border: 1px solid #aaaaaa;
  padding: 6px; }

.ml-6 {
  margin-left: 6px; }

.render-box {
  width: auto;
  display: inline-block; }

select {
  padding: 7px; }

input[type=button]:hover {
  background-color: #aaaaaa; }

table.tbl-user-session {
  margin: 20px 0; }
  table.tbl-user-session tr td {
    padding: 4px; }

.nav ul li a:active {
  color: #fff; }

div.container-config {
  background-color: #d8d8d8;
  padding: 8px; }
  div.container-config table.tbl-config {
    width: 100%; }
    div.container-config table.tbl-config select {
      width: 100%;
      max-width: none; }
    div.container-config table.tbl-config > tbody > tr > td {
      padding: 2px 4px; }

.description-box form input[type=text] {
  padding: 0;
  width: 100%;
  max-width: 100%; }

.description-box form select {
  padding: 1px;
  width: 100%;
  max-width: 100%; }

.description-box form .form-group {
  margin-bottom: 6px; }
  .description-box form .form-group label {
    margin-bottom: 0; }

.form-group-date {
  width: 10%;
  display: inline-table; }

.form-group-date-sm {
  width: 100%; }
  .form-group-date-sm .input-group-addon {
    padding: 2px 6px;
    font-size: 12px; }

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

.nav-tabs, .nav-pills {
  text-align: center; }

