﻿$table-bg:#d8d8d8;
$background-bg:#222222;
$input-border:#aaaaaa;
$background-font:#999999;
$button-hover:#aaaaaa;

* {
    font-family: 'Exo 2', sans-serif;
}

html {
    background-color:$background-bg;
}

body {
    padding-bottom:0;
}

label {
    font-weight:normal;
    display:block;
}

footer {
    background-color:$background-bg;
    padding-left:15px;
    padding-right:15px;
}

video {
    width:100%;
}

.input-group-addon {
    border:1px solid $input-border;
    border-left:0;
}

form input[type=text] {
    border: 0;
    border: 1px solid $input-border;
    outline: 0;
    width:100%;
    
    padding:6px;
}

form select {
    width:100%;
}

.btn {
    border-radius: 0;
}

.bold {
    font-weight:700;
}

.full {
    width:100%;
    max-width:100%;
}

.half {
    width:50%;
}

.body-content {
    margin-top: 50px;
    margin-bottom:70px;
}

.footer {
    margin-top:20px;
    color:$background-font;
}

.nav-tabs {
    margin-top:40px;
}

.tab-content {
    margin:10px 0;
    h3 {
        margin-bottom:20px;
    }
    form {
        input {
            max-width:100%;
        }
        input:focus {
            border-style:dashed;
        }
    }
}

input, button {
    outline: none;
    border: 1px solid $input-border;
    padding:6px;
}

.ml-6 {
    margin-left:6px;
}

.render-box {
    width:auto;
    display:inline-block;
    
}

select {
    padding:7px;
}

input[type=button]:hover{
    background-color:$button-hover;
}

table.tbl-user-session {
    margin:20px 0;
    tr {
        td {
            padding:4px;
        }
    }
}

.nav ul li a:active {
    color:#fff;
}

div.container-config{
    background-color: $table-bg;
    padding:8px;
    table.tbl-config {
        width:100%;
        select {
            width:100%;
            max-width:none;
        }
        > tbody {
            > tr {
                > td {
                    padding:2px 4px;
                }
            }
        }
        
    }
}

.description-box {
    form {
        input[type=text] {
            padding:0;
            width:100%;
            max-width:100%;
        }
        select {
            padding:1px;
            width:100%;
            max-width:100%;
        }
        .form-group {
            margin-bottom:6px;
            label {
                margin-bottom:0;
            }
        }
    }
}

.form-group-date {
    width: 10%;
    display: inline-table
}

.form-group-date-sm {
    width:100%;
    .input-group-addon {
        padding:2px 6px;
        font-size:12px;
    }
}

// ** bootstrap override

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

